doctype html
head
	meta(charset="utf-8")
	meta(
	name="viewport",
	content="width=device-width, initial-scale=1, viewport-fit=cover"
	)
	block title
		title Webpack boilerplate
	block description
		meta(
		name="description",
		content="Default page description"
		)

	//- To run web application in full-screen -->
	meta(
		name="apple-mobile-weapp-capable",
		content="yes"
	)

	//- Status Bar Style (see Supported Meta Tags below for available values)
	meta(
		name="apple-mobile-weapp-status-bar-style",
		content="black"
	)

	meta(
		property="og:title",
		content="Webpack boilerplate"
	)
	meta(
		property="og:description",
		content="Kodix BEM Meetup"
	)
	meta(
		property="og:image",
		content=require("../../images/shared-image.jpg")
	)
	meta(
		name="twitter:card",
		content="summary"
	)
	meta(
		name="twitter:title",
		content="Webpack boilerplate"
	)
	meta(
		name="twitter:description",
		content="Kodix BEM Meetup"
	)
	meta(
		name="twitter:image",
		content=require("../../images/shared-image.jpg")
	)
	meta(
		itemprop="name",
		content="Webpack boilerplate"
	)
	meta(
		itemprop="description",
		content="Kodix BEM Meetup"
	)
	meta(
		itemprop="image",
		content=require("../../images/shared-image.jpg")
	)

	block styles

body
	.page-wrapper
		.page-wrapper__inner
			.page
				.page__header
					block header

				.page__content
					block page-title
						.page__title Заголовок страницы
					.content-area
						block content
				.page__footer
					block footer
	block scripts

